@charset "UTF-8";


@font-face {
	font-family: 'NanumMyeongjo';
	src: url('/CSS/fonts/NanumMyeongjo/NanumMyeongjo.eot');
	src: url('/CSS/fonts/NanumMyeongjo/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
	/*url('/CSS/fonts/NanumMyeongjo/NanumMyeongjo.woff2') format('woff2'),*/
	url('/CSS/fonts/NanumMyeongjo/NanumMyeongjo.woff') format('woff'),
	url('/CSS/fonts/NanumMyeongjo/NanumMyeongjo.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'NanumMyeongjo';
	src: url('/CSS/fonts/NanumMyeongjo/NanumMyeongjoBold.eot');
	src: url('/CSS/fonts/NanumMyeongjo/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
	/*url('/CSS/fonts/NanumMyeongjo/NanumMyeongjoBold.woff2') format('woff2'),*/
	url('/CSS/fonts/NanumMyeongjo/NanumMyeongjoBold.woff') format('woff'),
	url('/CSS/fonts/NanumMyeongjo/NanumMyeongjoBold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'NanumMyeongjo';
	src: url('..//CSS/fonts/NanumMyeongjo/NanumMyeongjoExtraBold.eot');
	src: url('..//CSS/fonts/NanumMyeongjo/NanumMyeongjoExtraBold.eot?#iefix') format('embedded-opentype'),
	/*url('..//CSS/fonts/NanumMyeongjo/NanumMyeongjoExtraBold.woff2') format('woff2'),*/
	url('..//CSS/fonts/NanumMyeongjo/NanumMyeongjoExtraBold.woff') format('woff'),
	url('..//CSS/fonts/NanumMyeongjo/NanumMyeongjoExtraBold.ttf') format('truetype');
	font-weight: 900;
}