/* MAIN GNB */
.header { position: fixed; width: 100%; top: 0; height: 45px; z-index: 90; }
.header .primary-logo { margin-top: 13px !important; }
.header .primary-logo a { display: block; overflow: hidden; width: 120px; height: 0; padding-top: 23px; background: url(/Images/img/img_logo1.png) no-repeat 0 0; background-size: 120px auto; }
.gnb { position:fixed; width:100%; z-index:90; top:45px; }
.header .btn-basket { top: 13px; }
.header .btn-srch { top: 13px; }
.gnb + .container .content { padding-top:85px; }
.container .content { min-height: 100%; padding: 85px 0 195px; }
.container .sub_content { min-height: 100%; padding: 45px 0 195px; }

/* SUB TOP */
.header .btn-goback { top: 13px; }
.header .tit { line-height: 45px; }



/* 팝업 숨기기 */
.wrap-pop { display: none; }

/* 상품 리스트 */
.wrap-product-list .hover{display:none;position:absolute;top:0;left:0;width:100%;min-height:424px;box-shadow:inset 0 0 0 1px #282828;padding:40px 1px 0;background:#fff;z-index:2;opacity:1}
.product_info { display: block; width: 100%; overflow: hidden; }
.wrap-product-list .hover .ly-scope .ly-color .swiper-slide { overflow: hidden; width: 60px; height: 60px; margin-right:2px; }





.search-smart .ly-scope { float: left; width: 273px; padding-left: 80px; /* padding-left: 84px; */ }
.color-list { height:81px; }

.color-list ul li { margin-left:10px; }
.color-list ul li:nth-child(6n+1) { margin-left:0; }

.ch-color input[type=checkbox] + label:before { content: ''; display: inline-block; position: relative; z-index: 1; width: 23px; height: 23px; margin-left: 0; background-image: none; background-repeat: no-repeat; }
.ch-color .sc-type + label:before { background-position: 0 0; background-repeat: no-repeat; }


.search-category .category-list ul li a.ic-category-01 { background: url(/images/ico/ic-category-m.png) left center no-repeat; }
.search-category .category-list ul li a.ic-category-02 { background: url(/images/ico/ic-category-w.png) left center no-repeat; }
.search-category .category-list ul li a.ic-category-03 { background: url(/images/ico/ic-category-k.png) left center no-repeat; }
.search-category .category-list ul li a.ic-category-04 { background: url(/images/ico/ic-category-a.png) left center no-repeat; }

.search-category .category-list ul li.on a.ic-category-01 { background: url(/images/ico/ic-category-m-on.png) left center no-repeat; }
.search-category .category-list ul li.on a.ic-category-02 { background: url(/images/ico/ic-category-w-on.png) left center no-repeat; }
.search-category .category-list ul li.on a.ic-category-03 { background: url(/images/ico/ic-category-k-on.png) left center no-repeat; }
.search-category .category-list ul li.on a.ic-category-04 { background: url(/images/ico/ic-category-a-on.png) left center no-repeat; }



/* GNB 브랜드 리스트 영역 */
.brands-list { height:312px; }


/* 로그인페이지 아이디/비번찾기 */
.login-choice				 { position:relative; }
.btn-find-idpw				 { position:absolute; float:none !important; }
.idf1						 { right:140px; }
.idf2						 { right:0; }

/* 아이디찾기 페이지 이메일 도메인 셀렉트박스*/
.wrap-login .select-certify .enter-inform .email input[type=text] { width: 194px; margin-right: 0 !important; }
.wrap-login .select-certify .enter-inform .inp-enter-inform .sel-type2-1 { width: 194px !important; height: 50px; }
.wrap-login .select-certify .enter-inform .phone .sel-type2-1 { width: 140px !important; min-width: 144px; }
.sel-type2-1 { position: relative; min-width: 194px; height: 82px; }
.wrap-login .select-certify .inp-enter-inform.email .custom-enter .tx-type3 { width: 194px; margin-top: 14px; margin-right: 0; font-size: 16px; padding:10px 20px; }


/* 아이디찾기 페이지 버튼 */
.rd-type5 { width:49%; margin-right: 0; }
.wrap-login .select-certify .area-btn-c .btn-type4.w-type3 { width: 135px; }
.t-type4-inform-hp > .nt-type-bl-r { position: relative; line-height: 1.5; font-size:14px;}
.t-type4-inform-hp > .nt-type-bl-r:before { content: ''; display: inline-block; position: absolute; left: -12px; top: 8px; width: 4px; height: 4px; border-radius: 50%; margin-right: 8px; vertical-align: middle; background-color: #282828; }
.t-type4-inform-hp { padding-bottom: 20px; text-align: center;}
.area-btn-c > .button.ty-red.login{width:49%;}
.area-btn-c > .button.ty-black.pw{width:49%;float:right;}

.btn-menu-find-idpw { position:absolute; right:50px; top:60px; padding-right: 20px; background: url(/images/btn/btn-more2.png) center right no-repeat; font-size: 18px; color: #282828; line-height: 28px; font-family: NanumSquare; font-weight: 400; }


/* 상품후기 평가 별 */
.post-body{display:inline-block;margin-left:7px}
.star-grade{display:inline-block;padding:9px 0;overflow:hidden;vertical-align:middle}
.star-grade span{float:left;width:24px;height:23px;cursor:pointer}
.star-grade span:last-child{margin-right:0}
.star-grade .star{width:24px;height:23px;margin-right:14px;background:url(/Images/ico/btn-star-point.png) top no-repeat;background-size:100% auto}
.star-grade .star.on{width:24px;height:23px;background:url(/Images/ico/btn-star-point-on.png) top no-repeat;background-size:100% auto}

.informView .star-score .point.val10:after {width:10%;}
.informView .star-score .point.val20:after {width:20%;}
.informView .star-score .point.val30:after {width:30%;}
.informView .star-score .point.val40:after {width:40%;}
.informView .star-score .point.val50:after {width:50%;}
.informView .star-score .point.val60:after {width:60%;}
.informView .star-score .point.val70:after {width:70%;}
.informView .star-score .point.val80:after {width:80%;}
.informView .star-score .point.val90:after {width:90%;}
.informView .star-score .point.val100:after {width:100%;}

.assessment .star-score .point.val10:after {width:10%;}
.assessment .star-score .point.val20:after {width:20%;}
.assessment .star-score .point.val30:after {width:30%;}
.assessment .star-score .point.val40:after {width:40%;}
.assessment .star-score .point.val50:after {width:50%;}
.assessment .star-score .point.val60:after {width:60%;}
.assessment .star-score .point.val70:after {width:70%;}
.assessment .star-score .point.val80:after {width:80%;}
.assessment .star-score .point.val90:after {width:90%;}
.assessment .star-score .point.val100:after {width:100%;}



/* 상품문의 - 상품Q&A관리 */
.ly-qtitle_sub .btn-list{position:relative;width:100%;height:40px;padding:0 12px;border-bottom:1px solid #e1e1e1;font-size:12px;color:#282828;line-height:42px;text-indent:3px;text-align:left;background-color:#fff}
.ly-title .btn-list:after,.ly-qtitle_sub .btn-list:after{content:'';display:block;position:absolute;right:15px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:8px;height:5px;background:url(/Images/ico/ico_arrow_d1.png) no-repeat;background-size:100% auto}
.ly-title.is-on .btn-list:after,.ly-qtitle_sub.is-on .btn-list:after{background:url(/Images/ico/ico_arrow_u2.png) no-repeat;background-size:100% auto}
.ly-qcontent_sub{display:block}

/* 상품문의 - 1:1문의 */
.ly-mtitle_sub .btn-list{position:relative;width:100%;height:40px;padding:0 12px;border-bottom:1px solid #e1e1e1;font-size:12px;color:#282828;line-height:42px;text-indent:3px;text-align:left;background-color:#fff}
.ly-title .btn-list:after,.ly-mtitle_sub .btn-list:after{content:'';display:block;position:absolute;right:15px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:8px;height:5px;background:url(/Images/ico/ico_arrow_d1.png) no-repeat;background-size:100% auto}
.ly-title.is-on .btn-list:after,.ly-mtitle_sub.is-on .btn-list:after{background:url(/Images/ico/ico_arrow_u2.png) no-repeat;background-size:100% auto}
.ly-mcontent_sub{display:block}

/* 상품문의 - 1:1문의 입력폼 */
.wrap-mtom .buttongroup{margin: 0 12px;}
.wrap-mtom .added-photo{margin: 0 12px;}




/* 회원 가입 폼 */
.fieldset .fieldset-row { position:relative; margin-bottom: 15px; }
.fieldset.ty-col2 .fieldset-row .select2 { float: left; width: 30% !important; font-weight: 600; letter-spacing: -.5px; }
.select2 { position: relative; display: inline-block; vertical-align: top; height: 40px; padding: 0 30px 0 12px; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: middle; }
.select2:after { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 11px; display: block; width: 8px; height: 5px; background: url(/Images/ico/ico_arrow_d1.png) no-repeat 0 0; background-size: 8px auto; }
.select2 select { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; border: none; border:1px solid #c8c8c8; }
.select2 .value { display: block; line-height: 40px; font-size: 12px; color: #323535; letter-spacing: -.025em; }
.select2.is-focus, .input1.is-focus, .input2.is-focus, .input3.is-focus { border-color:#e62019 !important; }
/*.fieldset .input1 { float:left; position: absolute; top:0;left:0; display: inline-block; width:30%; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; margin-left:0 !important; }*/
.input1 { position: relative; display: inline-block; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; }
.fieldset .input2 { float:left; position: absolute; top:0;left:35%; display: inline-block; width:30%; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; margin-left:0 !important; }
.fieldset .input3 { float:left; position: absolute; top:0;right:0; display: inline-block; width:30%; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; margin-left:0 !important; }
.input1 input, .input2 input, .input3 input { width: 98%; height: 38px; padding: 0 12px; font-size: 12px; border: 0 none; -webkit-box-sizing: border-box; box-sizing: border-box; }
.select2 select option { line-height: 2; font-size: 12px; padding:0 20px; }
.select2 select { padding-left:11px; }
.input1 { float: left; width: 30% !important; font-weight: 600; letter-spacing: -.5px; }
.fieldset .dash1 { position:absolute; top:0; left:30%; display:inline-block; width:5%; height: 100%; margin-left:0 !important; text-align:center; line-height:38px; }
.fieldset .dash2 { position:absolute; top:0; left:65%; display:inline-block; width:5%; height: 100%; text-align:center; line-height:38px; }


.input-id { position: relative; display: inline-block; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; }
.input-id.is-expand { display: block; width: 70% !important; }
.input-id input { width: 100%; height: 38px; padding: 0 12px; font-size: 12px; border: 0 none; -webkit-box-sizing: border-box; box-sizing: border-box; }

.btn-wrap { position:absolute;top:0;right:0; width:30%; height:100%; }
.fieldset .fieldset-row .button2 { position: absolute; top: 0; right: 0; font-size: 12px; height:100%; }
.button2.ty-red { border-color: #e62019; color: #fff; background: #e62019; }
.button2.is-expand { display: block; width: 100%; }
.button2 { height: 40px; padding: 0 8px; border: 2px solid #e1e1e1; text-align: center; font-size: 14px; font-weight: 800; vertical-align: middle; line-height: 40px;}


.fieldset.ty-col2 .fieldset-row .pselect2 { float: left; width: 30% !important; font-weight: 600; letter-spacing: -.5px; }
.pselect2 { position: relative; display: inline-block; vertical-align: top; height: 40px; padding: 0 30px 0 12px; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: middle; }
.pselect2:after { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 11px; display: block; width: 8px; height: 5px; background: url(/Images/ico/ico_arrow_d1.png) no-repeat 0 0; background-size: 8px auto; }
.pselect2 select { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; border: none; border:1px solid #c8c8c8; }
.pselect2 .value { display: block; line-height: 40px; font-size: 12px; color: #323535; letter-spacing: -.025em; }
.pselect2.is-focus, .pinput1.is-focus, .pinput2.is-focus, .pinput3.is-focus { border-color:#e62019 !important; }
/*.fieldset .input1 { float:left; position: absolute; top:0;left:0; display: inline-block; width:30%; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; margin-left:0 !important; }*/
.pinput1 { position: relative; display: inline-block; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; }
.fieldset .pinput2 { float:left; position: absolute; top:0;left:35%; display: inline-block; width:30%; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; margin-left:0 !important; }
.fieldset .pinput3 { float:left; position: absolute; top:0;right:0; display: inline-block; width:30%; border: 1px solid #c8c8c8; background: #fff; transition: border 250ms linear; vertical-align: top; margin-left:0 !important; }
.pinput1 input, .pinput2 input, .pinput3 input { width: 98%; height: 38px; padding: 0 12px; font-size: 12px; border: 0 none; -webkit-box-sizing: border-box; box-sizing: border-box; }
.pselect2 select option { line-height: 2; font-size: 12px; padding:0 20px; }
.pselect2 select { padding-left:11px; }
.pinput1 { float: left; width: 30% !important; font-weight: 600; letter-spacing: -.5px; }
.fieldset .pdash1 { position:absolute; top:0; left:30%; display:inline-block; width:5%; height: 100%; margin-left:0 !important; text-align:center; line-height:38px; }
.fieldset .pdash2 { position:absolute; top:0; left:65%; display:inline-block; width:5%; height: 100%; text-align:center; line-height:38px; }


/* 페이징 */
.area-pagination { background: #fff; padding: 10px 0; text-align: center; }
.btn-prev { display: inline-block; width: 17px; height: 17px; margin-right: 5px; text-indent: -999999px; background: url(/images/ico/btn-prev.png) no-repeat; background-size: contain; }
.btn-prev1 { display: inline-block; width: 17px; height: 17px; margin-right: 5px; text-indent: -999999px; background: url(/images/ico/btn-prev1.png) no-repeat; background-size: contain; }
.btn-next { display: inline-block; width: 17px; height: 17px; margin-left: 5px; text-indent: -999999px; background: url(/images/ico/btn-next.png) no-repeat; background-size: contain; }
.btn-next1 { display: inline-block; width: 17px; height: 17px; margin-left: 5px; text-indent: -999999px; background: url(/images/ico/btn-next1.png) no-repeat; background-size: contain; }
.page-num { line-height: 16px; font-family: NanumSquare; color: #acacac; font-weight: 800; vertical-align: top; margin-top:6px; border-right:1px solid #cecece; }
.page-num1 { line-height: 16px; font-family: NanumSquare; color: #acacac; font-weight: 800; vertical-align: top; margin-top:6px; border-right:0; }
.page-num a, .page-num1 a { padding:0 12px; }
.page-num.point:before { content: ''; display: inline-block; margin-right: 0; }
.page-num1.point:before { content: ''; display: inline-block; margin-right: 0; }
.page-num.current { color: #282828; }
.page-num1.current { color: #282828; }


/* MYPAGE */
#MypageSubMenu .selector { margin-bottom: 0; }
#MypageSubMenu .selector.is-focus .btn-list:after { background: url("/images/ico/ico_arrow_u2.png")no-repeat; background-size: 100% auto; }
.accord-mypage:last-child .ly-content1 { margin-bottom: 0; padding-bottom: 7px; }



/* DIMMED LAYER */
.dim { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 99; background: #000; opacity: 0; display: none; opacity: 0.7; }
.loading_dim { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 99; background: #000; opacity: 0; display: none; opacity: 0.7; }


/* 회원탈퇴 */
.draw-info{background: #fff; padding: 0 12px; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; margin-bottom: 7px}
.draw-info .tit{color: #e62019; font-weight: 800; border-top: 2px solid #e62019; padding-top: 10px}
.draw-info .tit.no-border{border: none; margin-bottom: 5px}
.draw-info fieldset{border-bottom: 1px solid #e1e1e1; margin-bottom: 15px}
.draw-info fieldset:last-child{border: none; margin-bottom: 0}
.draw-info .fieldset{margin-bottom: 15px}

.draw-info .fieldset-row.mb8{margin-bottom: 8px}
.draw-info .ty-row{margin-bottom: 0; min-height: 0; padding: 5px 0}
.draw-info .no-border{border: none; margin-bottom: 5px}

.draw-info .radiogroup{float: right}
.draw-info .parent .message{top: 13px}

.draw-info .radiogroup{float: left}
.draw-info .radiogroup>.inner{display: inline-block;width: 50%;padding-bottom:5px;}


/* 자료없음 리스트 */
.area-empty {background: #fff; padding: 80px 0; border: 1px solid #e6e6e6; box-sizing: border-box; text-align: center; }
.icon-empty { width: 50px; height: 50px; margin-bottom: 15px; background: url(/Images/img/bg-empty.png)no-repeat; background-size: contain; display: inline-block; outline: none; }

/* Footer 공지 리스트 */
.footer .notification .text { height: 40px;padding:0 0 0 60px;overflow-y:hidden;}
.footer .notification .text a {display:block;height: 100%;padding-right:15px;line-height: 42px;margin-left:-50px;}

/* 회원정보 수정 시 비밀번호 확인 창 */
.myinfo-pwchk-info{background: #fff; padding: 0 12px; margin-bottom: 7px}


/* 상품상세 이미지확대 아이콘 */
.detail-img-add { z-index: 10 !important; }

/* 배송지관리 입력/수정 */
.area-delivery-addr .fieldset .checkbox {margin-top:10px;}
.area-delivery-addr .fieldset .lab-keep-addr {margin-top:10px;}

/* 재입고알림 신청 */
.wrap-reReception .tit-ty2{padding-top:10px;padding-bottom:7px;}

/* 상품명 안넘치게*/
.pname {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* table */
table{width: 100%;}
.table-initial th, .table-initial td{padding: 5px;border: 1px solid #282828;}
