@charset "utf-8";

/* Headline */
.h-level1 {font-size:23px; font-weight:600;}
.h-level2 {font-size:17px; color:#e62019; font-weight:600;}
.h-level3 {font-size:11px;}
.h-level4 {font-size:14px;font-weight: 800;}
.h-level5 {font-size:12px;font-weight: 800;}
.h-level6 {font-size:12px;font-weight: 700;}

.h-line{position: relative;height: 40px;line-height: 42px;padding: 0 12px;}
.h-line:after{content: '';display: block;clear: both;}
.h-line>.h-level4{display: inline-block;margin-right: 5px;}
.h-line .is-right{position: absolute;right: 10px;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.h-line .is-right:after{display: none;}
.h-date{font-size: 11px;color: #b4b4b4;}
.h-num{font-size: 14px;color: #282828;}
.h-sub1{font-size: 11px;color: #646464;}


/* Typography */
.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.t-level1 {font-size:16px; font-weight:600;}
.t-level2 {font-size:13px; font-weight:600;}
.t-level3 {font-size:13px; color:#b4b4b4;}
.t-level4 {font-size:12px; font-weight:600;}
.t-level5 {font-size:12px; color:#646464;}
.t-level6 {font-size:11px; color:#b4b4b4;}
.area-ps>p{position: relative;padding-left: 13px;font-size: 10px;opacity: .5;line-height: 18px;word-break: keep-all;}
.area-ps>p:before{content: '';position: absolute;left: 0;top: 4px;display: inline-block;width: 7px;height: 7px;background: url("/images/ico/ico_ps.png")no-repeat;background-size: 100% auto;}

/* Bullets */
[class*=bullet-]:before {content:''; display: inline-block;position: absolute;left: 0;top: 7px;border-radius: 50%;}
[class*=bullet-] .strong{font-weight: 800;}
.bullet-ty1 {position: relative;padding-left:8px;word-break: keep-all;line-height: 18px;font-size: 11px;color: #646464;}
.bullet-ty1:before {width:2px; height:2px; background:#646464;}

/* Grid */
.grid {font-size: 0;}
.grid .block {display:inline-block;width: 20%;}
.grid .block.colspan2 {flex:2;}
.grid .block.colspan3 {flex:3;}
.grid .block.colspan4 {flex:4;}
.grid .block.colspan5 {flex:5;}
.grid .block.colspan6 {flex:6;}

/* Icons */
.icon {overflow:hidden;vertical-align:middle;line-height: 1;}
.icon:before {content:''; display:inline-block; margin-right:5px; background-repeat:no-repeat; background-position:50% 50%;}
.is-notext {position:relative; text-indent:-9999em;}
.is-notext:before {position:absolute; top:0; left:0; margin-right:0;}
.is-right:before {display:none;}
.is-right:after {content:''; display:inline-block; margin-left:5px; background-repeat:no-repeat; background-position:50% 50%;}
.ico-go{width: 8px;height: 8px;background: url("/images/ico/ico_arrow_r1.png")no-repeat;background-size: 100%;}

.ico-basket:before,
.ico-basket:after {width:20px; height:20px; background-image:url(/images/ico/ico_basket1.png); background-size:16px auto;vertical-align: middle;}
.ico-basket.is-notext {width:20px; height:20px;}
.ico-fav:before,
.ico-fav:after {width:12px; height:10px; background-image:url(/images/ico/ico_fav1.png); background-size:12px auto;vertical-align: middle;}
.ico-fav.is-notext {width:12px; height:10px;}
.ico-cmt:before,
.ico-cmt:after {width:12px; height:10px; background-image:url(/images/ico/ico_cmt1.png); background-size:12px auto;vertical-align: middle;}
.ico-cmt.is-notext {width:12px; height:10px;}
.ico-caution:before,
.ico-caution:after {width:11px; height:10px; background-image:url(/images/ico/ico_caution1.png); background-size:11px auto;vertical-align: middle;}
.ico-caution.is-notext {width:11px; height:10px;}
.ico-caution2:before,
.ico-caution2:after {width:11px; height:10px; background-image:url(/images/ico/ico_caution2.png); background-size:11px auto;vertical-align: middle;}
.ico-caution2.is-notext {width:11px; height:10px;}
.is-arrow-d1:before,
.is-arrow-d1:after {width:8px; height:6px; background-image:url(/images/ico/ico_arrow_d1.png); background-size:8px auto;vertical-align: middle;}
.is-arrow-d2:before,
.is-arrow-d2:after {width:8px; height:6px; background-image:url(/images/ico/ico_arrow_d2.png); background-size:8px auto;vertical-align: middle;}
.ico-bell:before,
.ico-bell:after{width: 13px;height: 15px;margin-top: -1px;background-image: url("/images/ico/ico_bell.png");background-size: 100% auto;vertical-align: middle;}
.ico-question:before,
.ico-question:after{width: 13px;height: 13px;background-image: url("/images/ico/ico_question.png");background-size: 100% auto;vertical-align: middle;}
.ico-add:before,
.ico-add:after{width: 8px;height: 8px;background-image: url("/images/ico/ico_add.png");background-size: 100% auto;}
.ico-receipt:before,
.ico-receipt:after{width: 13px;height: 12px;background-image: url("/images/ico/ico_receipt.png");background-size: 100% auto;vertical-align: middle;margin-top: -2px;}
.ico-inquire:before,
.ico-inquire:after{width: 13px;height: 13px;background-image: url("/images/ico/ico_inquire.png");background-size: 100% auto;vertical-align: middle;margin-top: -2px;}
.ico-add-photo:before,
.ico-add-photo:after{width: 13px;height: 14px;background-image: url("/images/ico/ico_add_photo.png");background-size: 100% auto;vertical-align: middle;margin-top: -2px;}

/* Buttons */
button.is-expand {width:100%;}
.button {height:40px; padding:0 8px; border:2px solid #e1e1e1; text-align:center; font-size:14px; font-weight:800; vertical-align:middle;line-height: 38px;}
.button.is-expand,
.button-ty2.is-expand{display:block;}
.button-ty2 {height:40px; padding:0 11px; border:2px solid #e1e1e1; text-align:center; font-size:13px; font-weight:600; vertical-align:middle;line-height: 38px;}
.button-ty3 {height:22px; padding:0 8px;font-size:11px;line-height: 23px;border:1px solid #282828;text-align:center;font-weight:800;vertical-align:middle;}

.button.ty-black,
.button-ty2.ty-black{border-color:#282828; color:#fff; background:#282828;}
.button.ty-red {border-color:#e62019; color:#fff; background:#e62019;}
.button.ty-gray,
.button-ty2.ty-gray{border-color:#b4b4b4; color:#fff; background:#b4b4b4;}
.button.ty-white {border-color:#282828; color:#282828; background:#fff;}
.button-ty2.ty-bd-gray{border-color: #e1e1e1;background-color: #fff;}
.button-ty2.ty-bd-black{border-color: #282828;color: #282828;background-color: #fff;}
.merger{display: inline-block;border-left: 1px solid #e1e1e1;text-align: center;font-size:13px; font-weight:600; vertical-align:middle;}

/* Buttons Group */
.buttongroup {font-size: 0;}
.buttongroup:after{content: '';display: block;clear: both;}
.buttongroup .button,
.buttongroup .button-ty2{float: left;}
.buttongroup.is-expand .button,
.buttongroup.is-expand .button-ty2{width: 50%;}
.buttongroup.is-space .button,
.buttongroup.is-space .button-ty2{width: 49%;}
.buttongroup.is-space .button:first-child,
.buttongroup.is-space .button-ty2:first-child{margin-right: 3px;}
.buttongroup.is-space .button:nth-child(2),
.buttongroup.is-space .button-ty2:nth-child(2){margin-left: 3px;}
.buttongroup.is-justify {float:left;}
.buttongroup .bd{height:40px;border:2px solid #e1e1e1; line-height: 36px;}
.buttongroup .merger:first-child{margin-left: -1px;}

/* Input */
.input {position:relative; display:inline-block; border:1px solid #c8c8c8; background:#fff; transition:border 250ms linear;vertical-align: top;}
.input input {width:100%; height:38px; padding:0 12px; font-size:12px; border:0 none; -webkit-box-sizing:border-box; box-sizing:border-box;}
.input.is-expand {display:block; width:auto;}
.input.is-focus {border-color:#e62019;}
.input.is-disabled {color: #b4b4b4;background:#f0f0f0;}
.input.is-center input {text-align:center;}
.input.is-right input {text-align:right;}
.input.double{margin-top: 7px;}
.input textarea{width: 100%;height: 150px;padding: 14px 13px;box-sizing: border-box;border-style: none;font-family: 'NotoSansKR';font-size: 13px;color: #282828;font-weight: 600;line-height: 22px;resize: none;}

/* Checkbox */
.checkbox {position:relative; display:inline-block; width:15px; height:15px; vertical-align:top; background:url(/images/ico/ico_checkbox1.png) no-repeat 0 0; background-size:15px auto;}
.checkbox input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;}
.checkbox.is-checked {background-position:0 -15px;}
.checkbox.is-disabled {opacity:.5;}
.checkbox .radio + label {display:inline-flex; margin:0 30px 0 5px;}

/* Radio */
.radio {position:relative; display:inline-block; width:15px; height:15px; background:url(/images/ico/ico_radio1.png) no-repeat 0 0; background-size:100% auto;vertical-align: top;}
.radio input {position:absolute; top:0; left:0; width:100%; height:100%; margin: 0;padding: 0;opacity:0;}
.radio.is-checked {background-position:0 -15px;}
.radio.is-disabled {opacity:.5;}
.radiogroup:after{content: '';display: block;clear: both;}
.radiogroup>.inner{float: left;vertical-align: top;font-size: 0;}
.radiogroup>.inner:first-child{width: 53%;}
.radiogroup>.inner:nth-child(2){width: 47%;}

.radio2 {position:relative; display:inline-block; width:15px; height:15px; vertical-align:middle; background:url(/images/ico/ico_radio2.png) no-repeat 0 0; background-size:15px auto;}
.radio2 input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;}
.radio2.is-checked {background-position:0 -15px;}
.radio2.is-disabled {opacity:.5;}


/* Label */
.radio + label,
.checkbox + label {display:inline-block; vertical-align:top;margin-left: 5px;font-size: 12px;line-height: 1.5;}
.checkbox.is-blank ~ .checkbox,
.radio.is-blank ~ .radio {margin-left:10px;}

/* Select */
.select {position:relative; display:inline-block;vertical-align: top;height:40px; padding:0 30px 0 12px; border:1px solid #c8c8c8; background:#fff; transition:border 250ms linear; vertical-align:middle;}
.select:after {content:''; position:absolute; top:50%;-webkit-transform: translateY(-50%);transform: translateY(-50%); right:11px; display:block; width:8px; height:5px; background:url(/images/ico/ico_arrow_d1.png) no-repeat 0 0; background-size:8px auto;}
.select select {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; z-index:1;border: none;}
.select option {line-height:2; font-size:12px;}
.select .value {display:block;line-height: 40px; font-size:12px; color:#323535; letter-spacing:-.025em;}
.select.is-expand {display:block; width:auto;}
.select.is-focus {border-color:#e62019;}
.select.is-disabled {opacity:.5;}

/* Range */

/* Score */
.star-score {position:relative; display:inline-block;}
.star-score .score {display:inline-block;height: 11px; font-size:10px; font-weight:600; color:#e62019;vertical-align: top;}
.star-score .point {position:relative; display:inline-block; width:70px; height:11px; background:url(/images/ico/ico_star1.png) repeat-x 0 0; background-size:14px auto;vertical-align: top;}
.star-score .point:after {content:''; position:absolute; top:0; left:0; display:block; width:0; height:11px; background:url(/images/ico/ico_star1.png) repeat-x 0 -15px; background-size:14px auto;}
.star-score.ty2 .score{color:#fff;}
.star-score.ty2 .point {background:url(/images/ico/ico_star1_1.png) repeat-x 0 0; background-size:14px auto;}
.star-score.ty2 .point:after {background:url(/images/ico/ico_star1_1.png) repeat-x 0 -15px; background-size:14px auto;}
.star-score .point.val05:after {width:10%;}
.star-score .point.val10:after {width:20%;}
.star-score .point.val15:after {width:30%;}
.star-score .point.val20:after {width:40%;}
.star-score .point.val25:after {width:50%;}
.star-score .point.val30:after {width:60%;}
.star-score .point.val35:after {width:70%;}
.star-score .point.val40:after {width:80%;}
.star-score .point.val45:after {width:90%;}
.star-score .point.val50:after {width:100%;}

.star-score.sz-large .point {width:120px; height:18px; background:url(/images/ico/ico_star2.png) repeat-x 0 0; background-size:24px auto;}
.star-score.sz-large .point:after {height:18px; background:url(/images/ico/ico_star2.png) repeat-x 0 -20px; background-size:24px auto;}
.star-score.sz-large.ty2 .point{background: url("/images/ico/ico_star2_1.png") repeat-x 0 0;background-size: 24px auto;}
.star-score.sz-large.ty2 .point:after{background: url("/images/ico/ico_star2_1.png") repeat-x 0 -20px;background-size: 24px auto;}

/* fieldset */
.fieldset {position:relative; display:block; min-height:30px; margin-bottom:20px;}
.fieldset .fieldset-label {display:block;height: 15px;font-size: 12px;font-weight:800; margin-bottom:8px;line-height: 1.5;}
.fieldset .fieldset-row {margin-bottom:15px;}
.fieldset .fieldset-row .button{font-size: 12px;}
.message {position:absolute; top:3px; right:0; color:#e62019; font-size: 10px}

.fieldset:after{content: '';display: block;clear: both;}
.fieldset .fieldset-row:after{content: '';display: block;clear: both;}
.fieldset.ty-row {display: block;position: relative;}
.fieldset.ty-row .fieldset-label {float:left;width: 95px;margin-bottom:0; font-size: 12px;font-weight:800;vertical-align: top;}
.fieldset.ty-row .fieldset-row {margin-left: 95px;line-height: 1;vertical-align: top;}

.fieldset.ty-col2 .fieldset-row > *:first-child {float: left; width: 90px;font-weight: 600;letter-spacing: -.5px;}
.fieldset.ty-col2 .fieldset-row > *:first-child + * {display: block;margin-left: 100px;}
.fieldset.ty-col3 .fieldset-row > *:first-child {float: right; width: 90px;font-weight: 600;letter-spacing: -.5px;}
.fieldset.ty-col3 .fieldset-row > *:first-child + * {display: block;margin-right: 100px;}

/* Thumbnail */
.thumbnail {position:relative; overflow:hidden;}
.thumbnail img {width:100%;}
.thumbnail .thumb-more {position:absolute; top:0; right:0; bottom:0; left:0; text-align:center; font-size:19px; font-weight:600; color:#fff; background-color:rgba(0,0,0,.6);}

/* Listview */
.listview {padding:0 7px;}
.listview:after{content: '';display: block;clear: both;}
.listview>li {float: left; width:50%; padding:0 5px; margin-top:30px; vertical-align: top}
.listview>li:first-child, .listview>li:nth-child(2){margin-top: 0;}

.listitems {position:relative; display:block;}
.listitems .ranking {position:absolute; top:0; left:0; display:block; width:17px; height:17px; text-align:center; font-size:10px; font-weight:600; color:#fff; line-height: 17px;background:#e62019;z-index: 1;}
.listitems .badgegroup {position:absolute; top:0; left:0;z-index: 1;font-size: 0;}
.listitems .badgegroup .badge {display: inline-block;height: 17px;padding: 0 5px; font-size:11px; font-weight:600; color:#fff;line-height: 19px;vertical-align: top;}
.listitems .brand-name {font-size: 12px;font-weight:800;}
.listitems .product-name {margin-bottom:6px; font-size: 12px;color:#646464; word-wrap: break-word; word-break: keep-all;}
.listitems .price {margin-bottom:5px;font-size: 12px; font-weight:600;}
.listitems .price strong {font-size:16px; font-weight:800;}
.listitems .optional-info .btn-size {margin-right:6px; text-decoration:underline; font-size:11px; color:#b4b4b4;vertical-align: middle;}
.listitems .optional-info .icon {margin:0 3px; font-size:11px; color:#b4b4b4;}

/* item-category */
.item-category{margin-left: 12px;margin-bottom: 30px;}
.item-group ul li{margin-right: 10px}
.item-group ul li a{display: block;width: 100%;height: 100%;padding-top: 100%;background-size: 100%;background-position: top center;background-repeat: no-repeat;}
.item-group ul li a .txt{display: inline-block;width: 100%;height: 100%;font-size: 11px; margin-top: 5px;font-weight: 800;text-align: center;}
.item-group ul li a:focus .txt{color: #e62019}
.item-group ul li:first-child a{background-image: url("/images/ico/ico_category1.png")}
.item-group ul li:first-child a:focus{background-image: url("/images/ico/ico_category1_hover.png")}
.item-group ul li:nth-child(2) a{background-image: url("/images/ico/ico_category2.png")}
.item-group ul li:nth-child(2) a:focus{background-image: url("/images/ico/ico_category2_hover.png")}
.item-group ul li:nth-child(3) a{background-image: url("/images/ico/ico_category3.png")}
.item-group ul li:nth-child(3) a:focus{background-image: url("/images/ico/ico_category3_hover.png")}
.item-group ul li:nth-child(4) a{background-image: url("/images/ico/ico_category4.png")}
.item-group ul li:nth-child(4) a:focus{background-image: url("/images/ico/ico_category4_hover.png")}
.item-group ul li:nth-child(5) a{background-image: url("/images/ico/ico_category5.png")}
.item-group ul li:nth-child(5) a:focus{background-image: url("/images/ico/ico_category5_hover.png")}

/* Table */
table{width: 100%;}

/* Board */
.reviewitems {position:relative; padding:15px 0; border-bottom:1px solid #e1e1e1;}
.reviewitems:last-child {border-bottom:0 none;}
.reviewitems .writer {margin-bottom:12px; font-size:10px;opacity: .5;}
.reviewitems .star-score {position:absolute; top:15px; right:0;}
.reviewitems .review-article {margin-bottom:10px;}
.reviewitems .review-article .thumbnail {float:right; width:60px; height:60px; margin-left:10px;border: 1px solid #e1e1e1;}
.reviewitems .review-article .thumbnail .thumb-more {line-height:60px;}
.reviewitems .review-article .thumbnail + .text {margin-right:80px; height:54px;}
.reviewitems .review-article .text {overflow:hidden; max-height:54px; margin:0 0 7px 0; line-height:18px; text-overflow:ellipsis; word-wrap:break-word; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;}
.reviewitems .review-article .date {font-size:10px;opacity: .5;}
.reviewitems .consumer-score {font-weight:600;}
.reviewitems .consumer-score:after{content: '';display: block;clear: both;}
.reviewitems .consumer-score dt {float: left;width:13%; text-align:right;}
.reviewitems .consumer-score dd {float: left;position:relative; width:12%; text-indent:5px;}
.reviewitems .consumer-score dd:after {content:''; position:absolute; top:50%; right:0; display:block; width:1px; height:8px; margin-top:-4px; background:#d1d1d1;}
.reviewitems .consumer-score dd:last-child:after {display:none;}
.reviewitems .btn-toggle {margin-bottom:7px;}
.reviewitems .btn-toggle a {text-decoration:underline; font-size:10px;opacity: .5;}

.informItems>ul>li{position: relative;padding: 0 12px;margin-bottom: 8px;word-break: keep-all;}
.informItems .tit{position: absolute;left: 12px;top: 0;display: inline-block;width: 75px;font-size: 10px;font-weight: 800;line-height: 18px;}
.informItems .cont{padding-left: 75px;font-size: 10px;font-weight: 600;line-height: 18px;}
.informItems .cont .size-chart{color: #282828;opacity: .7;text-decoration: underline;}
.informItems .cont .ico_logo_kc{width: 25px;height: 25px;margin-top: 2px;border: 1px solid #e1e1e1;}
.informItems ol.cont{list-style-type: decimal;}
.informItems ol.cont li{margin-left: 10px;padding-left: 3px;}
.informItems .mtm{display: inline-block;height: 32px;padding: 0 13px;margin-top: 9px;border: 1px solid #fff;font-size: 10px;color: #fff;text-align: center;line-height: 30px;}

.qnaList li{padding: 15px 0;border-bottom: 1px solid #e1e1e1;}
.qnaList .area-q-tit{position: relative;margin-bottom: 8px;}
.qnaList .area-q-tit .user{margin-bottom: 10px;font-size: 10px;opacity: .5;}
.qnaList .area-q-tit .progress{position: absolute;top: 0;right: 0;font-size: 10px;font-weight: 800;}
.qnaList .area-q-tit .progress.ready{opacity: .2;}
.qnaList .area-q-tit .tit{font-size: 11px;font-weight: 600;line-height: 16px;}
.qnaList .area-q-tit .tit .ico-lock{display: inline-block;width: 10px;height: 11px;margin-right: 6px;text-indent: -999999px;background: url("/images/ico/ico_lock.png")no-repeat center center;background-size: 100% auto;}
.qnaList .area-q-cont{margin-bottom: 8px;}
.qnaList .area-q-cont .cont{margin-bottom: 10px;font-size: 11px;font-weight: 600;line-height: 18px;word-break: keep-all;}
.qnaList .area-q-cont .cont.lock{font-size: 10px;text-align: center;opacity: .5;}
.qnaList .area-q-cont .data{font-size: 10px;opacity: .5;}
.qnaList .area-a{margin-bottom: 10px;}
.qnaList .area-a .badge{display: inline-block;margin-bottom: 9px;padding: 4px 5px;border: 1px solid #282828;font-size: 11px;font-weight: 800;}
.qnaList .area-a .answer{font-size: 11px;line-height: 18px;word-break: keep-all;}
.qnaList .btn-toggle>a,
.qnaList .btn-toggle>button{font-size: 10px;opacity: .5;text-decoration: underline;}

/* Tab */
.tab-base {position:relative;}
.tab-selector:after{content: '';display: block;clear: both;}
.tab-selector li {float: left;text-align:center}
.tab-selector li a {display:inline;width: 100%;;font-size: 12px;}
.part-2{width: 50%;}
.part-3{width: 33.3333%;}
.part-4{width: 25%;}


.tab-panel {display:none;}
.tab-panel.active {display:block;}

.tab.ty-theme1 {min-height: 215px;border-top:2px solid #e1e1e1;}
.tab.ty-theme1 .tab-selector {margin-bottom:25px;}
.tab.ty-theme1 .tab-selector li {border-bottom:1px solid #e1e1e1;}
.tab.ty-theme1 .tab-selector li a {display: inline-block;width: 100%;height: 46px; font-weight:800; color:#d1d1d1;line-height: 46px;}
.tab.ty-theme1 .tab-selector li.active a {color:#282828; border-bottom:3px solid #e62019;}

/* popUp */
.posFixed{position: fixed;top: 0;left: 0;right: 0;bottom: 0;}
.ofh{overflow: hidden;}
.h100p{height: 100%;}
.wrap-pop{height: 100%;}
.area-dim{position: fixed;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);z-index: 99;}
.area-pop{height: 100%;}
.area-pop > div{position: fixed;z-index: 101;}
.area-pop .tit-pop{position: absolute;width: 100%;height: 50px;z-index: 99;}
.area-pop .tit-pop .tit{margin: 0 12px;border-bottom: 2px solid #282828;font-size: 14px;font-weight: 700;text-align: center;line-height: 50px;}
.area-pop .btn-hide-pop{position: absolute;top: 17px;right: 25px;width: 15px;height: 15px;text-indent: -999999px;z-index: 9;background: url("/images/ico/ico_hide_pop.png")no-repeat;background-size: 100%;}
.area-pop .container-pop{padding-top: 60px;}
.area-pop .container-pop .contents{padding: 10px 12px 15px;margin-bottom: 5px;}
.area-pop .container-pop .contents.wide{padding: 0;margin-bottom: 0;}
.area-pop .container-pop .btns{height: 37px;font-size: 0;}
.area-pop .container-pop .btns:after{content: '';display: block;clear: both;}
.area-pop .container-pop .btns .button{float: left;width: 50%;height: 100%;border: none;}
.area-pop .container-pop .btns .button:only-child{width: 100%;}
.area-pop .alert .btns{height: 38px;}
.area-pop .full .btns{height: 40px;}
.area-pop .buttongroup{margin: 0;}
.area-pop .buttongroup .button{margin: 0;}
.area-pop .tit-ty2{margin-bottom: 10px;font-size: 12px;font-weight: 800;line-height: 1;}

.alert{top: 50%;left: 50%;width: 80%;max-width: 360px;background-color: #fff;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.alert .ly-cont{display: table;width: 100%;min-height: 40px;}
.alert .ly-cont .t-level4{display: table-cell;vertical-align: middle;line-height: 22px;text-align: center; word-break: keep-all;}
.alert.scroll{height: 100%;}
.alert.scroll .container-pop{height: 100%;padding-bottom: 42px;}
.alert.scroll .contents{overflow: auto;height: 100%;}

.full{width: 100%;height: 100%;top: 0;left: 0;background-color: #fff;}
.full .ly-cont{position: relative;min-height: 100%;}
.full .ly-cont .t-level4{position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);line-height: 22px;text-align: center; word-break: keep-all;}
.full .container-pop{height: 100%;padding-bottom: 45px;}
.full .contents{overflow: auto;height: 100%;}
.full .contents.ofh{overflow: hidden;}
.full.scroll .container-pop{padding-bottom: 5px;}

.area-pop .top-exposed{width: 100%;height: 100%;left: 0;top: 100000px;z-index: 98;transition:  top 1.5s ease-in-out;}
.top-exposed .tit-pop{height: 40px;}
.area-pop .top-exposed .tit-pop .tit{height: 40px;padding: 0 12px;margin: 0;border-bottom: 1px solid #dadada;font-size: 15px;line-height: 39px;text-align: left;}
.top-exposed .btn-hide-pop{top: 12px;right: 12px;}

.top-exposed .container-pop{padding-top: 40px;height: 100%;}
.area-pop .top-exposed .contents{overflow: auto;height: 100%;padding: 0 0 12px;}
.bg-ty1{background-color: #f3f3f3;}

.vertical{top: 100000px;}
.vertical.top-exposed{top: 40px;}

/* item-class */
.item-class ul{overflow-x: auto;height: 40px;white-space: nowrap;}
.item-class li{display: inline-block;padding: 0 18px;text-align: center;}
.item-class li a{font-size: 16px;line-height: 40px;}
.item-class .current a{font-weight: 700;color: #ff201b;}

/* inf-type */
.inf-type1{margin-bottom: 25px;font-size: 11px;color: #646464;}
.inf-type1 .tit{position: relative;display: inline-block;margin-bottom: 10px;padding-left: 20px;vertical-align: middle;}
.inf-type1 .tit:before{position: absolute;left: 0;top: -2px;content: '';display: inline-block;width: 15px;height: 15px;background: url("/images/ico/ico_inf_ty1.png")no-repeat;background-size: 100% auto;}

/* bnb-ty2 */
.bnb-ty2{position: fixed;left: 0;bottom: 0;width: 100%;height: 42px;background: #282828;z-index: 99;}
.bnb-ty2 button{position: absolute;top: 0;height: 100%;font-size: 14px;color: #fff;}
.bnb-ty2 .btn-pick{left: 10%;}
.bnb-ty2 .btn-share{left: 23%;}
.bnb-ty2 .btn-buy{left: 31%;width: 69%;line-height: 42px;}

.bnb-ty2 .btn-pick{width: 20px;text-indent: -999999px;background: url("/images/ico/ico_pick1_off.png")no-repeat center center;background-size: 18px auto;}
.bnb-ty2 .btn-pick.on{background: url("/images/ico/ico_pick1_on.png")no-repeat center center;background-size: 18px auto;}
.bnb-ty2 .btn-share{width: 20px;text-indent: -999999px;background: url("/images/ico/ico_share1_off.png")no-repeat center center;background-size: 15px auto;}

/* .informView */
.informItem{position: relative;margin-bottom: 7px;border-top: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;background-color: #fff;}
.informItem .buttongroup{padding: 0 12px 15px;}

.informItem .head-tit{display: block;position: relative;height: 40px;line-height: 43px;border-bottom: 1px solid #e1e1e1;font-size: 12px;}
.informItem .head-tit .tit{padding-right: 130px;margin-left: 12px;line-height: 1;}
.informItem .head-tit .date{position: absolute;right: 12px;top: 50%;margin-top: -4px;line-height: 1;}
.informItem .cont{position: relative;display: block;min-height: 125px;padding: 13px 0 15px;margin: 0 12px;line-height: 1;}
.informItem .cont .thumbNail{position: absolute;top: 0;left: 0;display: inline-block;width: 100px;height: 100%;padding-top: 13px;box-sizing: border-box;}
.informItem .cont .img{display: inline-block;width: 100px;height: 100px;margin-bottom: 13px;}
.informItem .cont .img>img{width: 100%;}
.informItem .cont .about{display: inline-block;position: absolute;left: 0;bottom: 16px;width: 100px;font-size: 12px;}
.informItem .cont .process{display: inline-block;width: 100%;font-size: 12px;}
.informItem .cont .process .a-more:after{content: '';display: inline-block;width: 8px;height: 8px;margin-left: 5px;background: url("/images/ico/ico_arrow_r1.png")no-repeat;background-size: 100% auto;}
.informItem .cont .date{display: inline-block;width: 100%;font-size: 12px;margin-top: 5px;}
.informItem .cont .detail{display: inline-block;width: 100%;padding-left: 110px;margin-top: 12px;}
.informItem .cont .detail .brand{position: relative;display: inline-block;width: 100%;margin-bottom: 3px;}
.informItem .cont .name{display: block;padding-right: 84px;font-size: 10px;font-weight: 800;}
.informItem .cont .item-code{position: absolute;right: 0;top: 0;font-size: 9px;color: #646464;display: block;width: 84px;line-height: 1;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.informItem .cont .product-name{position: relative;display: inline-block;width: 100%;margin-bottom: 2px;font-size: 12px;line-height: 1.3;}
.informItem .cont .product-name>em{display: inline-block;width: 100%;padding-right: 45px;box-sizing: border-box;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.informItem .cont .product-name .mum-all{position: absolute;right: 0;top: 0;display: block;width: 45px;}
.informItem .cont .inform .list{position: relative;display: inline-block;width: 100%;}
.informItem .cont .inform .list .tit{display: inline-block;position: absolute;top: 4px;left: 0;width: 50px;font-size: 10px;color: #646464;}
.informItem .cont .inform .list .opt{display: inline-block;width: 100%;padding-left: 52px;font-size: 10px;color: #646464;line-height: 18px;-ms-word-break: keep-all;word-break: keep-all;}
.informItem .cont .inform .list .opt.price{color: #282828;}
.informItem .cont .inform .list .opt.price>em{font-weight: 800;}
.informItem .cont .inform .list-ty2 .tit{display: inline-block;width: 100%;margin-bottom: 8px;font-size: 10px;color: #282828;line-height: 15px;}
.informItem .cont .product-more .price{display: inline-block;width: 100%;margin-bottom: 13px;font-size: 12px;font-weight: 800;}
.informItem .cont .product-more .price strong{font-size: 16px;}
.informItem .cont .product-more .optional-info .icon{margin: 0 3px;font-size: 11px;color: #b4b4b4;}
